<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrations</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Registered Participants</h1>

    <table>

        <tr>
            <th>Event</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>

        {% for r in registrations %}

        <tr>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>{{ r[4] }}</td>

            <td>
                <a href="/delete/{{ r[0] }}" class="delete">
                    Delete
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/" class="back">
        ⬅ Back to Home
    </a>

</div>

</body>
</html>
